@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(180deg);
	}

	50% {
		-moz-transform: rotate(-180deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-moz-transform: rotate(180deg);
	}

	50% {
		-webkit-transform: rotate(-180deg);
	}
}

@keyframes spin {

	0% {
		-moz-transform: rotate(180deg);
	}

	50% {
		-webkit-transform: rotate(-180deg);
		transform:rotate(-180deg);
	}
}

@-moz-keyframes spin-counter {
	0% {
		-moz-transform: rotate(-180deg);
	}

	50% {
		-moz-transform: rotate(180deg);
	}
}

@-webkit-keyframes spin-counter {
	0% {
		-moz-transform: rotate(-180deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
	}
}

@keyframes spin-counter {

	0% {
		-moz-transform: rotate(-180deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform:rotate(180deg);
	}
}
