.flower-wrapper {
	position: relative;
	z-index: 0;

	.bg-flower {
		position: fixed;
		overflow: hidden;

		&#bg-flower-1 {
			top: 0;
			left: -60px;
			animation: spin 60s ease infinite;
		}
	}
}

#bg-flower-2 {
	position: fixed;
	bottom: -60px;
	right: -60px;
	animation: spin-counter 45s ease infinite;
}

#bg-flower-3 {
	display: none;
	position: fixed;
	top: 150px;
	right: 450px;
	width: 250px;
	animation: spin-counter 70s ease infinite;
}

#bg-flower-4 {
	display: none;
	position: fixed;
	bottom: 200px;
	left: 350px;
	width: auto;
	animation: spin 45s ease infinite;
}





.btn {
	font-size: $font-size-base*0.9;
	font-weight: 800;
	border-radius: 0;
	border: 2px solid $color-white;

	&.btn-lg {
		padding: $grid-gutter-width/2 $grid-gutter-width;
		margin-top: $grid-gutter-width*0.8;
	}

	&.btn-sm {
		padding: $grid-gutter-width*0.3 $grid-gutter-width*0.8;
		margin-top: $grid-gutter-width/2;
	}

	&:hover,
	&:active,
	&:focus,
	&:active:focus {
		outline: none;
		box-shadow: none;
	}

	.fa-angle-right {
		font-size: $font-size-base*1.2;
		//padding-top: 3px;
	}

	&.disabled {
		opacity: 0.5;
	}
}

.btn-primary {
	background-color: $color-white;
	color: $brand-secondary;
	border: none;

	&:hover,
	&:active,
	&:focus,
	&:active:focus {
		background-color: $brand-secondary;
	}
}

.btn-vote {
	border: none;
	background: transparent;
	font-size: $font-size-base*2;
	padding: 0;

	&:hover,
	&:active,
	&:focus,
	&:active:focus {
		color: $color-white;
	}
}

form {
	margin-top: $grid-gutter-width;
	font-size: $font-size-base*0.9;

	input[type="text"],
	input[type="email"],
	input[type="number"],
	select,
	textarea {
	    background: transparent;
	    color: $color-white;
	    border: 2px solid $color-white;
	    border-radius: 0;
	    width: 100%;
	    text-align: center;
	    height: 50px;
	    line-height: 50px;
	}

	textarea {
		height: 200px;
	}

	input[type="checkbox"] {
		margin: 0;
	}

	input[type="submit"] {
		background: $color-white;
	    color: $brand-secondary;
	    border-radius: 0;
	    display: block;
	    width: 100%;
	    height: 50px;
	    border: none;
	    font-weight: 800;

	    &:hover {
	    	background: $brand-secondary;
	    	color: $color-white;
	    }
	}

	label {
		font-weight: 300;
	}

	::-webkit-input-placeholder {
		color: $color-white;
	}
	:-moz-placeholder {
		color: $color-white;
	}
	::-moz-placeholder {
		color: $color-white;
	}
	:-ms-input-placeholder {
		color: $color-white;
	}

	.wpcf7-form-control-wrap {
		&.year,
		&.month,
		&.day {
			display: inline-block;
			max-width: 30%;
		}

		&.year,
		&.month {
			margin-right: 5%;
		}
	}

	div.wpcf7-mail-sent-ok {
		border: 0;
	}

	span.wpcf7-not-valid-tip {
		color: #fff;
		font-size: 0.7em;
		margin-top: 5px;
	}

	.privacy-policy-text {
		font-size: $font-size-base;
	}

}


