.start-page-buttons {

	.btn {
		display: block;
	}
}

.drink-list {
	margin-top: $grid-gutter-width/2;

	.drink-list-object {
		margin-bottom: $grid-gutter-width*1.5;
	}

	.drink-list-ingredients {
		margin-top: $grid-gutter-width/2;
		word-spacing: -3px;
	}

}

.drink-ingredients {
	margin-top: $grid-gutter-width/2;
	padding: 0;
	list-style-type: none;

	li {
		display: block;
	}
}

.drink-image {
	border: solid 4px $brand-secondary;
}

.liquor-image {
	border: solid 4px $brand-secondary;
	margin-top: $grid-gutter-width/2;
}

.drink-recipe,
.drink-creator,
.drink-like {
	margin-top: $grid-gutter-width/2;
}

.drink-like {
	margin-bottom: $grid-gutter-width/2;

	.like {
		display: inline-block;
		width: 70px;

		.votes {
			font-weight: 800;
		}
	}

	.social {
		display: inline-block;
		width: 60px;
		vertical-align: top;
		font-size: $font-size-base*2;

		a {

			&:hover {
				color: darken($color-white, 10%);
				text-decoration: none;
			}
		}
	}


}

.booking-wrapper {
	margin-top: $grid-gutter-width/2;
	margin-bottom: $grid-gutter-width;
	//display: none;
}

.about-content {

	h4 {
		margin-top: $grid-gutter-width;
	}

	ul {
		padding: 0;
		margin-bottom: $grid-gutter-width;

		li {
			list-style-type: none;
		}
	}

	.btn {
		margin-bottom: $grid-gutter-width;
	}
}

#avp-checkbox {
	margin-right: 8px!important;
}

