footer {
	margin: $grid-gutter-width*2 0 $grid-gutter-width 0;
	text-align: center;

	.social {
		font-size: $grid-gutter-width*1.1;
		margin-bottom: $grid-gutter-width;

		a {
			margin: 0 $grid-gutter-width*0.3;

			&:hover {
				color: darken($color-white, 10%);
				text-decoration: none;
			}
		}
	}
}
