header {
	background-color: $gray-dark;
	height: 60px;
	line-height: 60px;
	width: 100%;
	color: $color-white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 299;

    .header-container {
        position: relative;
    }

	.header-logo {

		/*.icon-logo {
			font-family: 'Absolut Icon';

			&::before {
				content: "\e610";
			}
		}*/

	}
        .menu {
            display: none;
            padding: 0;
            background-color: $gray-dark;
            text-align: center;
            text-transform: uppercase;
            font-size: $font-size-base*0.8;

            li {
                display: block;

                a {
                    color: $abs-grey;

                    &:hover {
                        text-decoration: none;
                        color: lighten($abs-grey, 10%);
                    }
                }


            }
        }

        .menu-btn {
            width: 28px;
            height: 40px;
            position: absolute;
            top: 5px;
            right: $grid-gutter-width/2;
            cursor: pointer;
            transition: all 0.3s;
            z-index: 398;


            .top-line, .middle-line, .bottom-line {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 28px;
                height: 3px;
                background-color: $color-white;
                transition: all 0.2s;
            }

            .top-line {
                top: 16px;
            }

            .top-line-active {
                transform: rotate(45deg) translate3d(0, 0, 0);
                top: 24px !important;
            }

            .middle-line {
                top: 24px;
            }

            .middle-line-active {
                opacity: 0;
            }

            .bottom-line {
                top: 32px;
            }

            .bottom-line-active {
                transform: rotate(-45deg) translate3d(0, 0, 0);
                top: 24px !important;
            }
        }

}
