@media only screen and (min-width: 768px){

	.page-content {
		margin-top: $grid-gutter-width*4;
	}

	#bg-flower-3,
	#bg-flower-4 {
		display: block;
	}

	header {
		padding-top: 12px;
		height: 106px;

		.menu-btn {
			display: none;
		}

		#header-nav {
			display: block;
			width: 100%;
		}

		.menu {
			display: block;
			height: 36px;
			line-height: 12px;

			li {
				display: inline;
				margin-left: $grid-gutter-width*0.3;
				margin-right: $grid-gutter-width*0.3;

				&.current-menu-item {
                    position: relative;

                    &::after {
                        background: $abs-grey;
                        bottom: -3px;
                        content: "";
                        height: 1px;
                        left: 6px;
                        right: 8px;
                        position: absolute;
                    }
                }
			}
		}
	}

	h1,
	h2 {
	    font-size: $font-size-base*2.8;
	    margin-bottom: $grid-gutter-width;
	}

	h3 {
		font-size: $font-size-base*1.7;
	}

	h4 {
		font-size: $font-size-base*1.5;
	}

	p {
		font-size: $font-size-base*1.2;
	}

	.headline-small {
	    font-size: $font-size-base*1.5;
	}

	.drink-ingredients {
		font-size: $font-size-base*1.2;
	}

	.drink-list {

		.drink-list-object {
			//margin-bottom: $grid-gutter-width*1.5;
		}

		.drink-list-ingredients {
			min-height: 100px;
		}
	}

	.booking-wrapper {
		margin-top: $grid-gutter-width*1.5;
		margin-bottom: $grid-gutter-width*2;

		hr {
			padding-bottom: $grid-gutter-width;
		}
	}

	.drink-like {
		margin-bottom: $grid-gutter-width;
	}

	.about-content {

		ul,
		ol {
			font-size: $font-size-base*1.2;
		}
	}

}


@media screen and (min-width: 1200px) {

    .drink-list-object {
        min-height: 600px;
    }

}

