html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $brand-primary;
	color: $color-white;
	font-family: $font-family-base, Helvetica, sans-serif;
	position: relative;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}

img {

	&:focus {
		outline: none;
	}
}

.page-content {
	margin-top: $grid-gutter-width*2;
	margin-bottom: $grid-gutter-width;
}
