@font-face {
    font-family: 'Absolut Headline';
    src: url('styles/fonts/absolut-headline-webfont.eot');
    src: url('styles/fonts/absolut-headline-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Absolut';
    src: url('styles/fonts/absolut-bold-webfont.eot');
    src: url('styles/fonts/absolut-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-bold-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-bold-webfont.woff') format('woff'),
         url('styles/fonts/absolut-bold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*@font-face {
    font-family: 'Absolut Icon';
    src: url('styles/fonts/absolut-icon-webfont-webfont.eot');
    src: url('styles/fonts/absolut-icon-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-icon-webfont-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-icon-webfont-webfont.woff') format('woff'),
         url('styles/fonts/absolut-icon-webfont-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Absolut';
    src: url('styles/fonts/absolut-medium-webfont.eot');
    src: url('styles/fonts/absolut-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-medium-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-medium-webfont.woff') format('woff'),
         url('styles/fonts/absolut-medium-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Absolut';
    src: url('styles/fonts/absolut-regular-webfont.eot');
    src: url('styles/fonts/absolut-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-regular-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-regular-webfont.woff') format('woff'),
         url('styles/fonts/absolut-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Absolut';
    src: url('styles/fonts/absolut-regularitalic-webfont.eot');
    src: url('styles/fonts/absolut-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-regularitalic-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-regularitalic-webfont.woff') format('woff'),
         url('styles/fonts/absolut-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Absolut Headline';
    src: url('styles/fonts/absolut-headline-webfont.eot');
    src: url('styles/fonts/absolut-headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/absolut-headline-webfont.woff2') format('woff2'),
         url('styles/fonts/absolut-headline-webfont.woff') format('woff'),
         url('styles/fonts/absolut-headline-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-family-base: 'Absolut';
$font-family-headline: 'Absolut Headline';

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Absolut Icon';
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

h1 {
    font-size: $font-size-base*1.5;
    margin-top: $grid-gutter-width;
    text-transform: none;
}

h2 {
    font-size: $font-size-base*1.4;
    margin-top: $grid-gutter-width;
}

h3 {
   font-size: $font-size-base*1.2;
}

h4 {
    font-size: $font-size-base*1;
    margin: $grid-gutter-width*0.7 0 $grid-gutter-width*0.3 0;
}

.headline-small {
    font-size: $font-size-base*1.1;
}

.page-template-page-start {

    h1 {
        text-transform: uppercase;
    }
}


a {
    color: $color-white;

    &:hover {
        color: $color-white;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
        color: $color-white;
    }
}
